#video {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
}

main {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 2px 6px #000000;
  transition: 0.5s;
}

h2:hover {
  transform: scale(1.05);
}

h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 800;
  margin-top: 0;
}

.head {
  font-size: 20px;
  font-weight: 250;
}

.interval-container {
  display: flex;
  box-shadow: 0px 1px 8px black;
  border-radius: 16px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.interval-container:hover {
  box-shadow: 0px 1px 13px rgb(0, 0, 0);
  transform: scale(1.01);
}

.interval-container-content {
  display: flex;
  align-items: center;
  margin: 0 60px;
}

button {
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  background-color: rgb(62, 136, 255);
  color: white;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid rgb(62, 136, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  font-size: 15px;
  transition: 0.2s;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: rgb(106, 163, 254);
  transform: scale(1.05);
  border: 2px solid rgb(106, 163, 254);
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container {
  margin-top: 40px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  justify-content: center;
  box-shadow: 0px 1px 8px black;
  border-radius: 16px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}

.timer-container:hover {
  box-shadow: 0px 1px 13px rgb(0, 0, 0);
  transform: scale(1.01);
}

.timer {
  font-size: 60px;
  font-weight: 600;
  color: rgb(39, 203, 39);
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 #000, 1px 1px 0 #000;
}

.timer-actions {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}


@media (min-aspect-ratio: 16/9) {
  #video {
    height: auto;
    width: 100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 961px) {
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  .interval-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h4 {
    font-size: 26px;
  }
  button {
    margin-bottom: 30px;
  }
  .interval-length {
    margin-bottom: 30px;
  }
}

